* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333333;
}

.navbar {
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-container {
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    color: #2563eb;
}

.brand span {
    color: #00226d;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #666666;
    margin-left: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    color: #2563eb;
    border-bottom: 2px solid #2563eb;
}

.navbar ul li a.active {
    color: #2563eb;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #2563eb;
    padding-bottom: 5px;
}

.main-content {
    width: 90%;
    max-width: 1100px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.section-box {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 25px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.05);
}

.title {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #444444;
}

.form-kamar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    align-items: end;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

.input-group input,
.input-group select {
    width: 100%;
    height: 45px;
    padding: 0 12px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #f9fafb;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn-save {
    height: 45px;
    padding: 0 20px;
    background-color: #2563eb;
    color: white;
    border: 1px solid #2563eb;
    border-radius: 10px;
    font-size: 0.9`rem;
    font-weight: bold;
    cursor: pointer;
    justify-self: end;
}

.btn-save:hover{
    color: #dddddd;
    background-color: black;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eeeeee;
    background-color: #f4f4f4;
    font-size: 0.9rem;
}

table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eeeeee;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 15px;
}

.kamar-card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
}

.card-image {
    height: 200px;
    background-color: #dddddd;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #bfdbfe;
    color: #1e40af;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    font-size: 0.75rem;
    font-weight: bold;
}

.card-content {
    padding: 20px;
}

.no-kamar {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 5px;
}

.price {
    color: #2563eb;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.btn-edit {
    padding: 6px 18px;
    width: 90px;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    border-color: white;
}

.btn-edit:hover{
    background-color: black;
}

.btn-detail {
    width: 100%;
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.kamar-card {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.kamar-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
    border-bottom: 3px solid #2563eb;
}

.btn-detail {
    transition-property: background-color;
    transition-duration: 0.2s;
}

.btn-detail:hover {
    background-color: #1e293b;
    transform: scale(1.02);
}

.btn-detail:active {
    transform: scale(0.98);
}